{% extends "bootstrap/base.html" %}

{% if status_code == 404 %}
    {% set title = 'Page Not Found' %}
    {% set message = 'The page you requested could not be found' %}
{% endif %}

{% if status_code == 500 %}
    {% set title = 'Internal Server Error' %}
    {% set message = 'The server encountered an internal error or misconfiguration and was unable to completer your request' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/bikeshare.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
        <div class="row">
            <div class="jumbotron text-center error-message">
                <h1>{{ title }}<br><small class="text-danger">Error {{ status_code }}</small></h1>
                <br>
                <p>{{ message }}</p>
                <a href="/" class="btn btn-primary">Take Me Home</a>
            </div>
        </div>
    {% endblock %}
    {% include 'footer.html'%}
</div>

{% endblock %}
